
.loginform {
    margin-top: 90px;
    padding: 50px;
}

* {
    color: #644547;
    font-family : 'rosario';
}

input{
    font-family: Arial, Helvetica, sans-serif;
  }

/*
body{
    background-image: url("https://i.ytimg.com/vi/9Vp6fv2qI1g/maxresdefault.jpg");
}
*/