<!--Navigation Bar-->
<navbar></navbar>
<br>
<!--User Information Content-->
<div class='col-md-offset-1 col-md-10'>

    <!-- Just show the information-->
    <div *ngIf='!isEditing; else showform'>
        <table class="table">
            <tr>
                <th>Username : </th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>First Name : </th>
                <td>{{user.firstname}}</td>
            </tr>
            <tr>
                <th>Middle Name : </th>
                <td>{{user.middlename}}</td>
            </tr>
            <tr>
                <th>Last Name : </th>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Birthdate : </th>
                <td>{{user.birthdate}}</td>
            </tr>
            <tr>
                <th>Mobile : </th>
                <td>{{user.mobile}}</td>
            </tr>
            <tr *ngIf='modelUser.interests'>
                <th>Interests : </th>
                <td>{{user?.interests}}</td>
            </tr>
        </table>

        <!-- Edit Information Button-->
        <button class="btn btn-default col-md-12" type="button" tooltip="Edit Information" [delay]="500" placement="left" (click)="toggleEdit()">
            <span class="glyphicon glyphicon glyphicon-pencil"></span>
        </button>
    </div>

    <!-- Edit the information-->
    <ng-template #showform>
        <form (ngSubmit)="onSubmit(userinfoForm)" #userinfoForm="ngForm">
            <table class="table">
                <tr>
                    <th>Username : </th>
                    <td>
                        <input name="username" type="text" class="form-control" [(ngModel)]="modelUser.username" #username='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <th>First Name : </th>
                    <td>
                        <input name="firstname" type="text" class="form-control" [(ngModel)]="modelUser.firstname" #firstname='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <th>Middle Name : </th>
                    <td>
                        <input name="middlename" type="text" class="form-control" [(ngModel)]="modelUser.middlename" #middlename='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <th>Last Name : </th>
                    <td>
                        <input name="lastname" type="text" class="form-control" [(ngModel)]="modelUser.lastname" #lastname='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <th>Email : </th>
                    <td>
                        <input name="email" type="text" class="form-control" [(ngModel)]="modelUser.email" #email='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
                    <th>Birthdate : </th>
                    <td>
                        <input name="birthdate" type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="
                        modelUser.birthdate " #birthdate='bsDatepicker' [bsValue]='modelUser.birthdate' required>
                    </td>
                </tr>
                <tr>
                    <th>Mobile : </th>
                    <td>
                        <input name="mobile" type="text" class="form-control" [(ngModel)]="modelUser.mobile" #email='ngModel' required>
                    </td>
                </tr>
                <tr>
                    <th>Interests : </th>
                    <td>
                        <input name="interests " type="text " class="form-control " [(ngModel)]="modelUser.interests " #interests='ngModel'>
                    </td>
                </tr>
            </table>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </ng-template>
</div>