<!--Navigation Bar-->
<navbar></navbar>
<br>
<!--User Information Content-->
<div class='col-md-offset-1 col-md-10'>

    <!-- Just show the information-->
    <div *ngIf='!isEditing; else showform'>
        <table class="table">
            <tr>
                <th>Username : </th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>First Name : </th>
                <td>{{user.firstname}}</td>
            </tr>
            <tr>
                <th>Middle Name : </th>
                <td>{{user.middlename}}</td>
            </tr>
            <tr>
                <th>Last Name : </th>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Birthdate : </th>
                <td>{{user.birthdate}}</td>
            </tr>
            <tr>
                <th>Mobile : </th>
                <td>{{user.mobile}}</td>
            </tr>
            <tr *ngIf='modelUser.interests'>
                <th>Interests : </th>
                <td>{{user?.interests}}</td>
            </tr>
        </table>

        <!-- Edit Information Button-->
        <button class="btn btn-default col-md-offset-4 col-md-4" type="button" tooltip="Edit Information" [delay]="500" placement="left"
            (click)="toggleEdit()">
            <span class="glyphicon glyphicon glyphicon-pencil"></span>
        </button>
        <br><br>
    </div>

    <!-- Edit the information-->
    <ng-template #showform>
        <form (ngSubmit)="onSubmit(userinfoForm)" #userinfoForm="ngForm">
            <table class="table">
                <tr>
                    <th>Username : </th>
                    <td>
                        <input id='username' name="username" type="text" class="form-control" [(ngModel)]="modelUser.username" #username='ngModel'
                            required>
                        <div class='errormessage' *ngIf='username.invalid && (username.dirty || username.touched) && username.errors.required'>
                            Username is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>First Name : </th>
                    <td>
                        <input id='firstname' name="firstname" type="text" class="form-control" [(ngModel)]="modelUser.firstname" #firstname='ngModel'
                            required>
                        <div class='errormessage' *ngIf='firstname.invalid && (firstname.dirty || firstname.touched) && firstname.errors.required'>
                            First name is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Middle Name : </th>
                    <td>
                        <input id='middlename' name="middlename" type="text" class="form-control" [(ngModel)]="modelUser.middlename" #middlename='ngModel'
                            required>
                        <div class='errormessage' *ngIf='middlename.invalid && (middlename.dirty || middlename.touched) && middlename.errors.required'>
                            Middle name is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Last Name : </th>
                    <td>
                        <input id='lastname' name="lastname" type="text" class="form-control" [(ngModel)]="modelUser.lastname" #lastname='ngModel'
                            required>
                        <div class='errormessage' *ngIf='lastname.invalid && (lastname.dirty || lastname.touched) && lastname.errors.required'>
                            Last name is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Email : </th>
                    <td>
                        <input id='email' name="email" type="text" class="form-control" [(ngModel)]="modelUser.email" #email='ngModel' required>
                        <div class='errormessage' *ngIf='(email.dirty || email.touched) && email.errors && email.errors.required'>
                            Email is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
                    <th>Birthdate : </th>
                    <td>
                        <input id='birthdate' name="birthdate" type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="
                        modelUser.birthdate " #birthdate='bsDatepicker' [bsValue]='modelUser.birthdate' required>
                        <div class='errormessage' *ngIf='birthdate.invalid && (birthdate.dirty || birthdate.touched) && birthdate.errors.required'>
                            Birthdate is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Mobile : </th>
                    <td>
                        <input id='mobile' name="mobile" type="text" class="form-control" [(ngModel)]="modelUser.mobile" #mobile='ngModel' required>
                        <div class='errormessage' *ngIf='mobile.invalid && (mobile.dirty || mobile.touched) && mobile.errors.required'>
                            Mobile is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Interests : </th>
                    <td>
                        <input name="interests " type="text " class="form-control " [(ngModel)]="modelUser.interests " #interests='ngModel'>
                    </td>
                </tr>
            </table>
            <button class="btn btn-default col-md-offset-4 col-md-4" type="submit">Submit</button>
            <br><br><br>
        </form>
    </ng-template>
</div>