<!-- Navigation -->
<div class='navigation' id='nav'>
    <ul class="nav nav-pills" >
        <li role="presentation">
            <a [routerLink]="['/shop']" routerLinkActive="routeractive" [routerLinkActiveOptions]="{exact: true}">
                Shop
            </a>
        </li>
        <li role="presentation">
            <a [routerLink]="['/cart']" routerLinkActive="routeractive" [routerLinkActiveOptions]="{exact: true}">
                My Cart
            </a>
        </li>
        <li role="presentation">
            <a [routerLink]="['/profile']" routerLinkActive="routeractive" [routerLinkActiveOptions]="{exact: true}">
                Profile
            </a>
        </li>
        <li role="presentation">
            <a [routerLink]="['/pendingtransactions']" routerLinkActive="routeractive" [routerLinkActiveOptions]="{exact: true}">
                Pending
            </a>
        </li>
        <li role="presentation">
            <a [routerLink]="['/login']" routerLinkActive="routeractive" [routerLinkActiveOptions]="{exact: true}">
                Logout
            </a>
        </li>
    </ul>
</div>