<div class='' *ngIf='product'>

    <span class="label label-info">{{product.category}}</span>

    <!-- picture -->
    <img class="img-responsive img-rounded" src="https://image.freepik.com/free-vector/online-internet-website-shopping-icons-set-of-product-search-order-payment-electronic-wallet-and-home-delivery-vector-illustration_1284-2136.jpg"
        alt="Responsive image">

    <!-- information-->
    <strong><h4>{{ product.name }}</h4></strong>
    PHP {{ product.price }}<br>

    <hr>

    <!-- control -->

    <div class='container-fluid'>
        <ng-content select='.content1'></ng-content>
        <ng-content select='.content2'></ng-content>
    </div>
</div>