<div class='shopingcart'>

    <!-- Navigation -->
    <div class='navigation' id='nav'>
        <ul class="nav nav-pills ">
            <li role="presentation">
                <a [routerLink]="['/shop']">
                    Shop
                </a>
            </li>
            <li role="presentation">
                <a [routerLink]="['/cart']">
                    My Cart
                </a>
        </ul>
    </div>

    <!-- Content -->
    <div class='content col-md-12'>
        <router-outlet></router-outlet>
    </div>

</div>