<navbar></navbar>
<br>
<div class='container-fluid'>

    <div name='Filter' class='col-md-2'>
        <filterview (filter)='filterProducts($event)'></filterview>
    </div>

    <div name='Products' class='col-md-10'>
        <div *ngFor='let product of cartProducts$ | async'>
            <productview class='productview col-md-offset-1 col-md-3' [product]='product'>

                <!-- content 1 - Remove From Cart -->
                <button (click)='removeFromCart(product)' type="button btn-default btn-sm" class="content1 btn btn-default">
                    <span class="content1 glyphicon glyphicon glyphicon-remove"></span>
                </button>

            </productview>
        </div>
    </div>
</div>