<navbar></navbar>
<br>
<div class='container-fluid'>

    <!-- if there are no products to show, dont show the filter, the productview and checkout button-->
    <div class='center' *ngIf='!(cartProducts$ | async); else showProducts'>
        No products retrieved.
    </div>

    <!--show the filter, the productview and the checkout button-->
    <ng-template #showProducts>

        <div name='Side' class='col-md-2'>

            <div class='row'>
                <!-- for viewing the filter-->
                <filterview (filter)='filterProducts($event)'></filterview>
            </div>

            <br><br>

            <!-- Checkout the cart -->
            <div class='row'>
                <button class="btn btn-default col-xs-12 col-sm-12 col-md-12 pink" type="button" (click)='checkout()'>
                    <h4><b>Checkout</b></h4>
                </button>
            </div>

        </div>

        <!-- for viewing the products-->
        <div name='Products' class='col-md-10'>

            <div class='center'>
                {{(cartProducts$ | async).length}} result/s retrieved.
                <br><br>
            </div>

            <div *ngFor='let product of cartProducts$ | async; index as i'>

                <!-- make a row consisting of 3 columns -->
                <div *ngIf='i % 3 == 0'>
                    <div class='row'>
                    </div>
                </div>

                <!-- view the product -->
                <productview [product]='product' (productEmitter)='addToCart($event)'>

                    <!-- content 1 - quantity selector -->
                    <quantityselector class='content1 col-md-12' [isCart]=true [product]='product' (productEntity)='editProductQuantity($event)'>
                        <span class="content1 glyphicon glyphicon glyphicon-pencil"></span>
                    </quantityselector>

                    <!-- content 2 - Remove From Cart Button-->
                    <button class="content2 btn btn-default col-xs-12 col-sm-12 col-md-12 pink" type="button" tooltip='Remove from Cart' [delay]="500" placement='left'
                        (click)='removeFromCart(product)'>
                        <span class="content1 glyphicon glyphicon glyphicon-remove"></span>
                    </button>

                </productview>

            </div> <!-- end of for-->

        </div> <!-- end of products-->

    </ng-template>

</div> <!-- end of container-->