/*
Pallete Colors :
  Orange-ish : eb997a
  Yellow-ish : f6e0b5
  Violet : aa6f73
*/

@font-face {
    font-family: 'cornerstone';
    src: url('./assets/fonts/cornerstone.woff2') format('woff2'),
      url('./assets/fonts/cornerstone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'rosario';
  src: 
    url('./assets/fonts/rosario.otf') format('opentype');
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'audrey';
  src:
    url('./assets/fonts/Audrey-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  color: #333;
  background: #aa6f73;
}

.header {
  font-family: 'rosario';
  position: relative;
  text-align: center;
  padding: 10px 0;
  color: #f6e0b5;
}

.footer {
  border-radius: 5px;
  font-family: 'rosario';
  text-align: center;
  background: #eb997a;
  color: #f6e0b5;
}

.appcontent {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f6e0b5;
}

.nav {
  border-radius: 5px;
  margin : 10px;
  background-color : #eb997a;
  font-family: 'rosario';
}

.nav> li > a {
  /* color : #aa6f73; */
  color : #644547;
}

.nav> li > a:focus, .nav > li >a:hover, .routeractive {
  background-color : #9757405e;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.productview {
  background-color : #e0cca4;
  font-family: 'cornerstone';
  color : #644547;
  box-shadow: 5px 10px 18px #888888;
  padding : 10px;
  margin-bottom: 15px;
}

.filter {
  background-color: #eb997a; 
  border-radius: 5px;
  padding : 10px;
}

input[type='number'] {
  width : 100%;
  box-sizing:border-box;
}

.nopadding {
  margin: 0 !important;
  padding : 0 !important;
}

textarea {
  resize: vertical;
}

p {
  text-align:justify;
}

.panel {
  background-color : #e0cca4;
  font-family: 'cornerstone';
  color : #644547;
  box-shadow: 5px 10px 18px #888888;
}

.pink {
  background-color : #eb997a;
}

.label {
  font-family: 'audrey';
}

.center {
  text-align: center;
}

.errormessage {
  color: rgb(253, 0, 0);
}


